.pie-chart {
    padding: 0px 10px;
    width: fit-content;
    height: 400px;
}

.pie-chart h1 {
    text-align: center;
}

.pie-chart p {
    text-align: center;
    margin-bottom: 0;
}

.show-dollar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}