.side-menu-wrapper {
    position: relative;
}
.side-menu {
    display: flex;
    flex-direction: column;
    background-color: #f7f4f3;
    width: fit-content;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
}

.side-menu.hidden {
    width: 0;
    min-width: 0;
    overflow: hidden;
}

.menu-toggle-btn {
  position: absolute;
  z-index: 10;
  background-color: #f7f4f3;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 0px;
  right: -40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.nav-link {
    height: 100%;
    width: 100%;
    padding: 10px 35px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-link.last-link {
    border: none;
}

.nav-link.active {
    background-color: rgb(102, 3, 60);
    color: #fff;
    font-weight: 600;
}