.stock-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.stock-form .add-stock {
    margin: 5px;
}

.stock-form .remove {
    margin: 5px;
}

.stock-form .stories-toggle {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stock-story .symbol {
  margin-right: 10px;
  flex: 0 0 25%;
}

.stock-story .story {
  flex: 1;
}

.hidden-stories {
    display: none;
    transition: width 0.3 ease;
}