body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  /* flex: 1; */
  display: flex;
  height: 90vh;
  justify-content: center;
}

.HeaderLogo,
.FooterLogo {
  height: 2.5vh;
  pointer-events: none;
  padding: 5px 5px 5px 5px;
}

.login-page {
  position: relative;
  height: 90vh;
  background-color: #fff;
}

.login-page.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.page-content {
  /* flex: 1; */
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: margin-right 0.3s ease;
}

.page-content.pie-charts {
  padding: 1rem;
  transition: margin-right 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.page-content .stocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: margin-right 0.3s ease;
}

.page-content .stock {
  width: 550px;
  margin: 10px;
}

.page-content .stock-story {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.card {
  background-color: #f7f4f3;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
