body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.HeaderLogo,
.FooterLogo {
  height: 2.5vh;
  pointer-events: none;
  padding: 5px 5px 5px 5px;
}

.login-page {
  position: relative;
  height: 90vh;
  background-color: #fff;
}

.login-page.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 90vh;
}

.wrapper.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper.top-left {
  display: block;
}

.page-body {
  display: flex;
  flex: 1;
  overflow: hiden;
}

.page-content {
  flex: 1;
  padding: 1rem;
  transition: margin-right 0.3s ease;
}

.page-content.pie-charts {
  padding: 1rem;
  transition: margin-right 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-content .stocks-container {
  /* flex: 1; */
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* padding: 1rem; */
  transition: margin-right 0.3s ease;
  background-color: salmon;
}

.page-content .stocks {
  /* flex: 1; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 1rem; */
  transition: margin-right 0.3s ease;
  /* background-color: blue; */
}

.page-content .stock {
  /* width: fit-content; */
  width: 550px;
  /* background-color: salmon; */
  margin: 10px;
  /* padding: 15px; */
}

.page-content .stock-story {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.card {
  background-color: #f7f4f3;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
